<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="accessToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzUxMiJ9.eyJhaWQiOiIxMjBmNmRkNzQ4NmQzYjE5OTRkMzMyNDFlODE2ZGQ5YTI4MGUyMWM0YmM3ZjdhYWU2MzE3MmI1NTFiNzFhZjFiIiwiZXhwIjoxNTA2NDA3Mjc2LCJ1aWQiOjMwNzg2MDZ9.AUMOYD4q4iIyL2Znn8fX4wyajV-F1sIbm53PdhAt73CSCfj_lGal9mjAuwQR5ZfooATDUqeCuCDbVEu4cnRhvpgjAbOHb5LGMv83Jxg_j_cHJbAoBrtikn1qpxbJHrGoMiylsY2m_tRVv5NuF7R_sFLveO6d4FevO7dBcs1B-f3fdkrY" />
    <add key="refreshToken" value="046a6456afb434246823dddc6180010edc5e690b33278aa97fa470aabb18b895" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>